# Descomentar esto si necesitas explicitamente usar
# certificados autofirmados
# Nota: No es necesario si usas un dominio '.local'
# Ejemplo: healthy.local
#
# {
# 	local_certs
# }

healthy.local {
	handle_path /api/* {
        uri strip_suffix /
        reverse_proxy http://{$APP_HOST}:{$APP_PORT}
    }
}